:root {
    --font: "Open Sans",sans-serif;
    --color-font-1: #333;
    --color-font-2: #fff;
    --color-font-3: #3494db;
    --background: #3494db;
    --background-2: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    min-height: 100vh;
    background: url("img/img.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page {
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: var(--color-font-1);
    font-size: 60px;
}

.contact-info, .contact-form {
    flex: 1;
}

.item {
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--color-font-1);
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: var(--background);
    text-align: center;
    color: var(--color-font-2);
    border-radius: 50%;
    margin-right: 16px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textb {
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    background-color: var(--background-2);
    border: none;
    color: var(--color-font-2);
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: var(--background-2);
    border: none;
    color: var(--color-font-2);
    margin-bottom: 20px;
}

.btn {
    width: 120px;
    height: 40px;
    margin-left: auto;
    background-color: var(--background);
    border: none;
    color: var(--color-font-2);
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--background);
    transition: .3s linear;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-font-3);
}

@media screen and (max-width: 980px) {
    .contact-page {
        max-width: 800px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .contact-info,
    .contact-form {
        flex: 100%;
        margin-bottom: 30px;
    }

    .textb {
        width: 100%;
    }
}