* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header"
                         "contenido"
                         "footer";
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

.header > .centro {
    display: grid;
    grid-gap: 5px;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.header .centro > h1,
.header .centro > .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .centro > nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

.contenido {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contenedor_1"
                         "contenedor_2";
}

.contenedor_1 {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: contenedor_1;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
}

.seccion1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "banner            banner          banner"
                         "seccion_widget    seccion_widget  seccion_widget"
                         "art1              art2            art3"
}

.banner {
    background: #000000;
    width: 100%;
    min-height: 100px;
    grid-area: banner;
}

.seccion_widget {
    display: grid;
    grid-area: seccion_widget;
    grid-column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "widget_1  widget_2"
}

.widget_1 {
    background: #000000;
    width: 100%;
    min-height: 50px;
    grid-area: widget_1;
}

.widget_2 {
    background: #000000;
    width: 100%;
    min-height: 50px;
    grid-area: widget_2;
}

.art1, .art2, .art3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.art1 {
    grid-area: art1;
}

.art2 {
    grid-area: art2;
}

.art3 {
    grid-area: art3;
}

.contenedor_2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F0F3F4;
    grid-area: contenedor_2;
}

.seccion2 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "img1  img2    img3    img4"
                         "text  text    text    text"
                         "art1  art2    art3    art4"
                         "form  form    form    form"
}

.seccion2 > .img1,
.seccion2 > .img2,
.seccion2 > .img3,
.seccion2 > .img4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion2 > .img1 {
    grid-area: img1;
}

.seccion2 > .img2 {
    grid-area: img2;
}

.seccion2 > .img3 {
    grid-area: img3;
}

.seccion2 > .img4 {
    grid-area: img4;
}

.text {
    grid-area: text;
    text-align: center;
}

.seccion2 > .art1 {
    grid-area: art1;
}

.seccion2 > .art2 {
    grid-area: art2;
}

.seccion2 > .art3 {
    grid-area: art3;
}

.seccion2 > .art4 {
    grid-area: art4;
}

.form {
    text-align: center;
    grid-area: form;
}

.form > form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 10px;
    background: #979A9A;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "col1          col2        col3        redes"
                         "txt-footer    txt-footer  txt-footer  txt-footer"
                         "txt-footer2   txt-footer2 txt-footer2 txt-footer2"
}

.col1 > a,
.col2 > a,
.col3 > a {
    text-align: justify;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.col3 {
    grid-area: col3;
}

.redes {
    grid-area: redes;
}

.txt-footer {
    text-align: center;
    grid-area: txt-footer;
}

.txt-footer > p {
    margin: 6px 0 6px 0;
}

.txt-footer2 {
    grid-area: txt-footer2;
}

@media screen and (max-width: 768px) {
    .header > h1 {
        font-size: 20pt;
    }

    .header > p {
        font-size: 10pt;
    }

    .header > nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}